<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
        
            <div class="card shadow border-0 p-4" *ngIf="user">
                <div class="text-center mb-4">
                    <img [src]="user.image" alt="Avatar" class="rounded-circle shadow-sm mb-3" style="width: 120px; height: 120px; object-fit: cover;">
                    <h3>{{ user.first_name }} {{ user.last_name }}</h3>
                    <p class="text-muted">{{ user.email }}</p>
                </div>

                <ul class="list-group list-group-flush mb-4">
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-bold">Username:</span> <span>{{ user.username }}</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span class="fw-bold">ID:</span> <span class="text-muted">{{ user._id || user.id }}</span>
                </li>
                </ul>
                <button class="btn btn-primary" [routerLink]="['/user/update', user._id]">Actualizar</button>
                <div class="d-grid gap-2">
                    <button class="btn btn-secondary" (click)="goBack()">Volver al Listado</button>
                </div>
            </div>
        </div>
    </div>
</div>
